defusedxml==0.4.1
Django==1.8
django-allauth==0.25.2
django-braces==1.9.0
django-endless-pagination==2.0
oauthlib==1.1.2
Pillow==2.9.0
PyJWT==1.4.0
python-social-auth==0.2.12
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
