{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

  <div class = "container  panel-profile">

          <div class="panel panel-default"  style=" text-align:center; margin-top:px">
            <br>
            <div class="panel-body" >

              <table class="table table-fixed">
                <tbody>
                <tr >
                  <td rowspan="2">
                    {% if user.profile.photo %}
                        <div class="profile-photo">
                          <a data-toggle="modal" href="#" data-target="#modal-profile-{{user.id}}">
                            <img class="user-image"  src="{{ user.profile.photo.url }}"/>
                          </a>
                          {% include 'post/image_modal.html' %}
                        </div>
                      {% else %}
                        <div class="profile-photo">      
                          <span class="no-image glyphicon glyphicon-user">
                          </span>                
                        </div>
                      {% endif %}
                  </td>
                  <td colspan="3">
                    Birthday:  
                    {% if user.profile.date_of_birth %}
                      {{user.profile.date_of_birth}}
                    {% else %}
                      {% if user.username != request.user.username %}
                        User's birthday has not been edited
                      {% else %}
                        Please edit your birthday
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="padding-left:40px;">
                      {% if user.profile.description %}
                        {{user.profile.description}}
                      {% else %}
                          {% if user.username != request.user.username %}
                            User's description has not been edited
                          {% else %}
                            Please edit your description
                          {% endif %}
                      {% endif %}
                  </td>
                </tr>
                <tr >
                  <td>
                    <div style="font-size:1.3em;">
                      {% if user.first_name and user.last_name %}
                        {{user.first_name}} {{user.last_name}}
                      {% else %}
                        {{ user.username }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="active profile-icons">
                      <a data-toggle="tab" href="#post">
                        <i class="fa fa-sticky-note-o fa-3x" aria-hidden="true"></i><br>
                      </a>
                      {{post_count}}
                    </div>
                  </td>
                  <td>
                    <div class="profile-icons">
                      <a data-toggle="tab" href="#followers">
                        <i class="fa fa-users fa-3x" aria-hidden="true"></i><br>
                      </a>
                      {{user.profile.followers.count }}
                    </div>    
                  </td>
                  <td>
                  <div class="profile-icons">
                    <a data-toggle="tab" href="#followed">
                      <i class="fa fa-eye fa-3x" aria-hidden="true"></i><br>
                    </a>
                    {{user.profile.follow.count }}
                    </div> 
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    {% if user.username != request.user.username %}
                      <form class="form-horizontal" action="." method = "POST" role="form" style = "text-align:center">
                          {% csrf_token %}
                          <div class="row">
                              <div class="col-sm-offset-4 col-sm-4">
                                  {% if follows %}
                                    <button type="submit" name="unfollow_button" class="btn btn-warning">
                                      <span class="glyphicon glyphicon-eye-close"></span>
                                      Unfollow
                                      </button>
                                  {% else %}                            
                                    <button type="submit" name="follow_button"  class="btn btn-success">
                                      <span class="glyphicon glyphicon-eye-open"></span>
                                      Follow
                                    </button>
                                  {% endif %}
                              </div>
                          </div>

                        </form>
                    {% endif %}
                  </td>
                </tr>
  
    
                </tbody>
              </table>
              


          </div>
        </div>



    <div class="tab-content">

      <div id="post" class="tab-pane fade in active">
          <div class="panel panel-default">
            <div class="panel-body" style="margin:auto;text-align:center;">

                {% if request.user.username = user.username %}
                  <a class="btn btn-primary" style="float:right;" href="{% url 'post:create_post' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Create a Post
                  </a>
                  <br><br>
                {% endif %}
                
                  <br>
                  {% if post_count != 0 %}
                    {% for post in posts %}
                      {% include 'post/post.html' %}
                    {% endfor %}
                  {% else %}
                    {% if request.user.username == user.username %}
                      You havent made a post.<br>
                    {% else %}
                      User has not made a post.
                    {% endif %}
                  {% endif %}

                  {% if posts.paginator.num_pages > 1 %}
                  <div class="text-align:right;">
                    {% if posts.has_previous %}  
                        <a href="?page={{ posts.previous_page_number }}#post"><span style="color:black;" class="glyphicon glyphicon-menu-left"></span></a>
                    {% endif %}

                    <span class="current">
                      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}             
                        <a href="?page={{ posts.next_page_number }}#post"><span style="color:black;" class="glyphicon glyphicon-menu-right"></span></a>  
                    {% endif %}
                  </div>
                  
                {% endif %}

                 <br>          
            
          </div>
        </div>
        
      </div>

       <div name="followers" id="followers" class="tab-pane fade">
     
          <div class="panel panel-default" >
            <br>
            <div class="panel-body profile-subpanel">

            <div class="profile-subheadings">Followers</div>
            <br><br>
            {% if user.profile.followers.count != 0 %}
           <table class="table" style="text-align:center;width:100%;">

            <tbody>
                  {% for follower in user.profile.followers.all %}
                    <tr>
                        <td style="text-align:center" rowspan="2">
                        {% if follower.photo %}
                            <div class="post-user-image">
                                <a href="{% url 'account:profile' username=follower.user.username%}">
                                    <img  src="{{ follower.photo.url }}">
                                </a>
                            </div>
                        {% else %}
                            <div class="post-user-image">
                                <a href="{% url 'account:profile' username=follower.user.username%}">      
                                <span class="no-image glyphicon glyphicon-user"></span>     
                                </a>
                            </div>
                        {% endif %}
                        </td>
                        <td>
                            {% if follower.user.first_name and follower.user.last_name %}
                                {{follower.user.first_name}} {{follower.user.last_name}}
                            {% else %}
                                {{follower.user.username }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Followers: {{ follower.followers.count }}</td>
                    </tr>
                {% endfor %}
                  
   


              </tbody>

            </table>
            {% else %}
              {% if user.username == request.user.username %}
                You have no followers yet<br>
              {% else %}
                 User has no followers yet
              {% endif %}
            {% endif %}
               
              <br>

          </div>
        </div>
      </div>
      
      <div id="followed" class="tab-pane fade">
     
          <div class="panel panel-default" >
            <br>
            <div class="panel-body profile-subpanel">

            <div class="profile-subheadings">Followed Users</div>
            <br><br>
            {% if user.profile.follow.count != 0 %}
           <table class="table" style="text-align:center;width:100%;">

            <tbody>
                  {% for followed in user.profile.follow.all %}
                    <tr>
                        <td style="text-align:center" rowspan="2">
                        {% if followed.photo %}
                            <div class="post-user-image">
                                <a href="{% url 'account:profile' username=followed.user.username%}">
                                    <img  src="{{ followed.photo.url }}">
                                </a>
                            </div>
                        {% else %}
                            <div class="post-user-image">
                                <a href="{% url 'account:profile' username=followed.user.username%}">      
                                <span class="no-image glyphicon glyphicon-user"></span>     
                                </a>
                            </div>
                        {% endif %}
                        </td>
                        <td>
                            {% if followed.user.first_name and followed.user.last_name %}
                                {{followed.user.first_name}} {{followed.user.last_name}}
                            {% else %}
                                {{followed.user.username }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Followers: {{ followed.followers.count }}</td>
                    </tr>
                  {% endfor %}
   


              </tbody>

            </table>
            {% else %}
              
              You have not followed other users yet<br>
              <a href="{% url 'account:user_list' %}">Follow other users</a>
    
            {% endif %}
               
              <br>

          </div>
        </div>
      </div>
      

      </div>

    </div>
    <br><br><br>
    

  

{% endblock %}
