{% extends "base.html" %}


{% block title %}Register{% endblock %}


{% block content %}


  <div class = "container">


    <div class="panel panel-default panel-form">
      <div class="panel-heading" style="text-align:center">Register</div>
      <div class="panel-body">
        
        <form class="form-horizontal" action="."  method = "POST" role="form" style = "text-align:left;">
          {% csrf_token %}
          {% for field in user_form %}
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-4">
                  {{field.label}}:
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                  {{field}}
                </div>
              </div>
            </div>

            {% if field.errors %}
              <div style="text-align:center;" class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ field.errors.as_text}}
              </div>
            {% endif %}
          {% endfor %}
  
         
          
         <br>
         <div class="form-group">
           <div class="col-sm-offset-5 col-sm-5">
             <button type="submit" class="btn btn-success "><i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i> Sign Up</button>
           </div>
          </div>
        </form>
        <a class="btn btn-info btn-circle-md" style="color:white;" href="{% url 'account:login' %}">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>


  </div>

{% endblock %}
