
body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(220,220,220);
}
.table-fixed{
    table-layout: fixed;
    width:100%;
}
.table-no-border td, .table-no-border td{
    border-top: none !important;
}
.table-comment th, .table-comment td{
    border-top: none !important;
    border-bottom: 1px solid #ddd;
}
.navbar-custom{
    font-size:15px;
}
.panel-heading{
    font-size: 1.6em;
    text-align: center;
}
.timeline{
    max-width: 680px;
}

.panel-form{
    max-width: 550px;
    margin: auto;
}
.panel-profile{
    max-width:700px;
    margin: auto;
}


.profile-photo{
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    border: 5px solid rgba(200, 200, 200, 0.8);
}

.profile-photo .user-image{
    width: 100%;
    height: 100%; 
}

.profile-photo .no-image{
    font-size: 140px;
}
.profile-icons a{
    color:black;
}
.profile-subheadings{
    font-size: 1.2em;
    text-align: center;
}
.profile-subpanels{
    text-align:center;
    max-height:700px;
    overflow-x:hidden;
}
.profile-icons a:hover{
    color:rgb(60, 60, 60);
}

.modal-dialog {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
.modal-close a{
    color:white;
    font-size: 20px;
}
.modal-close a:hover{
    color:rgb(180,180,180);
}
.modal-image{
    max-width:800px;
    max-height:500px;
    width:auto;
    height:auto;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {

    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.btn-circle-md {
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 3px 13px;
  font-size: 15px;
  line-height: 2.428571429;
  border-radius: 40px;
}

.btn-circle-lg {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 5px 21px;
  font-size: 15px;
  line-height: 2.428571429;
  border-radius: 40px;
}
.post{
    margin: 20px auto;
    text-align:center;
    max-width:650px;
    width:auto;
}

.post-user-image img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 3px solid rgba(200, 200, 200, 0.8);
}
.post-user-image .no-image{
    color:black;
    font-size: 45px;
}
.post-user-image .no-image:hover{
    color:rgb(100, 100, 100);

}

.post-next > a, .post-previous > a{
    font-size:4.5em;
    color:black;
}

.post-next > a :hover,
.post-previous > a :hover{
    color:rgb(100,100,100);
}
.post-next{
    position:fixed;
    top:40%;
    right:5%;
}
.post-previous{
    position:fixed;
    top:40%;
}
.wrapword{
    white-space: -moz-pre-wrap !important;  
    white-space: -webkit-pre-wrap; 
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    white-space: pre-wrap;       
    word-wrap: break-word;       
    word-break: break-all;
    white-space: normal;
}