{% extends "base.html" %}



{% block title %}Timeline{% endblock %}


{% block content %}
    
    {% include 'post/post.html'%}
    <div class="post">
        <ul class="nav nav-tabs nav-justified">
        
        <li class="active"><a data-toggle="tab" href="#likes">Likes</a></li>
        <li><a data-toggle="tab" href="#comments">Comments</a></li>
        <li><a data-toggle="tab" href="#create-comment">Create a Comment</a></li>
        </ul>

        <div class="tab-content">
            <div id="likes" class="tab-pane fade in active">
                <div class="panel panel-default"  style="border-raius:20px;">
                    <div class="panel-body">

                        <table style="width:100%">
                                <tr>
                                    <td>
                                        {% if post.likes.count == 0 %}
                                            Likes: 0
                                        {% else %}
                                            Likes: {{post.likes.count}}
                                        {% endif %}
                                    </td>
                                    <td >
                                        <form  method="POST">
                                            {% csrf_token %}
                                            {% if not has_liked %}
                                            <button type="submit" id="like" name="like_button" class="btn btn-primary" >
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                Like
                                            
                                            {% else %}
                                            <button type="submit" name="unlike_button" class="btn btn-primary" >
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                Unlike
                                            
                                            </button>
                                            {% endif %}

                                        </form>            
                                    </td>   
                                </tr>


                            </table>   
                


                    </div>

                </div>
        </div>
        <div id="comments" class="tab-pane fade">
            <div class="panel panel-default" style="text-align:center; border-raius:20px;">
                    <div class="panel-body">

                        <table class="table" style="width:100%;">
                            {% if comments.count != 0 %}
                                {% for comment in comments %}      
                                    <tr>
                                        <td>
                                            {% if comment.user.profile.photo %}
                                                <div class="post-user-image">
                                                    <a href="{% url 'account:profile' username=comment.user.username%}">
                                                        <img  src="{{ comment.user.profile.photo.url }}">
                                                    </a>
                                            </div>
                                            {% else %}
                                                <div class="post-user-image">
                                                    <a href="{% url 'account:profile' username=comment.user.username%}">      
                                                    <span class="no-image glyphicon glyphicon-user"></span>     
                                                    </a>
                                                </div>
                                            {% endif %}

                                            {% if comment.user.first_name and comment.user.last_name %}
                                                {{comment.user.first_name}} {{comment.user.last_name}}
                                            {% else %}
                                                {{comment.user.username}}
                                            {% endif %}
                                            </td>
                                        <td>{{ comment.content }}</td>
                                        {% if comments == request.user %}
                                        <td>
                                            <form method="POST">
                                                {% csrf_token %}

                                                <button type="submit" id="delete_comment" name="delete_comment_button" class="btn btn-danger" >
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                
                                            </form>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                
                                    </tr>
                                {% endfor%}
                            {% else %}
                                This post has no comments
                            {% endif %}
        

                        </table>

                    </div>
                </div>
            </div>

        <div id="create-comment" class="tab-pane fade">

            <div class="panel panel-default" style="border-raius:20px;">

                    <div class="panel-body">
                        
                        <form  method="POST">
                        <table style="width:100%;">
                            <tr>
                                
                                {% csrf_token %}
                                <td>
                                    
                                Comment:

                                </td>
                                <td>
                                    {{comment_form.content}}
                                </td>
                                
                            </tr>
          
        

                        </table>
                        <br>
                        <button type="submit" name="comment_button" class="btn btn-success">
                            <span class="glyphicon glyphicon-check"></span>Comment
                        </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </post>
{% endblock %}